# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [9]:
# series made of an array of 0's, row named age, weight, height 
my_series = pd.Series(np.zeros(3), index= ['age','weight', 'height'])
print(my_series)

age       0.0
weight    0.0
height    0.0
dtype: float64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [7]:
df_0 = pd.DataFrame(
    {'age': [25, 27, 29],
     'health': [0 , 1, 0]})
print(df_0)

   age  health
0   25       0
1   27       1
2   29       0

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [10]:
# create names list
names = ('Anna', 'Drew', 'Laura', 'Addison', 'Morgan', 'David', 'Stephanie', 'Tony', 'Justin', 'Tom')
print(names)

# create df of random numbers following a normal distribution
# center on 0.85
# use name list for index and set column as assignments
df_1 = pd.DataFrame(np.random.normal(loc=0.85, size=(10,5)), index=names, columns=('HW1', 'HW2', 'T1', 'HW3', 'HW4'))

print(df_1)

('Anna', 'Drew', 'Laura', 'Addison', 'Morgan', 'David', 'Stephanie', 'Tony', 'Justin', 'Tom')
                HW1       HW2        T1       HW3       HW4
Anna       0.575051  0.434043 -0.491707  1.141448  1.274788
Drew       0.031301  0.719056  0.749180  0.417210 -0.188039
Laura      1.267874  0.916529  0.782285  0.952702  0.800173
Addison    2.037154  2.067063  2.910253  1.136100  0.840253
Morgan     0.474277 -0.116912  0.881412 -0.092541  1.035125
David      1.019745  1.079907 -1.163483  0.462487  1.840115
Stephanie -0.303606  0.046243  0.622332 -0.131825 -0.621128
Tony      -0.323873  0.586728  1.374852  0.862579  1.403547
Justin     1.370429  1.385120  0.970495  0.085884 -0.392982
Tom        0.609770  0.590587  2.001438 -1.105604  1.135066

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [2]:
iris_df = pd.read_csv('iris.csv')

If tab-deliminated: iris_df = pd.read_csv('iris.csv', sep='\t')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [3]:
df_1.head()

NameError: name 'df_1' is not defined

In [16]:
df_1.tail()

                HW1       HW2        T1       HW3       HW4
David      1.019745  1.079907 -1.163483  0.462487  1.840115
Stephanie -0.303606  0.046243  0.622332 -0.131825 -0.621128
Tony      -0.323873  0.586728  1.374852  0.862579  1.403547
Justin     1.370429  1.385120  0.970495  0.085884 -0.392982
Tom        0.609770  0.590587  2.001438 -1.105604  1.135066

In [17]:
df_1.sample()

            HW1       HW2        T1       HW3       HW4
David  1.019745  1.079907 -1.163483  0.462487  1.840115

In [18]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [19]:
iris_df.sample()

    sepal_length  sepal_width  petal_length  petal_width species
24           4.8          3.4           1.9          0.2  setosa

In [20]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [21]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [22]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

In [23]:
df_1.columns

Index(['HW1', 'HW2', 'T1', 'HW3', 'HW4'], dtype='object')

In [24]:
df_1.index

Index(['Anna', 'Drew', 'Laura', 'Addison', 'Morgan', 'David', 'Stephanie',
       'Tony', 'Justin', 'Tom'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [25]:
pd.__version__

'0.25.1'

In [28]:
iris_array = iris_df.to_dict

AttributeError: 'function' object has no attribute 'head'

In [27]:
student_array = df_1.to_dict

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [4]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris_df.loc[3]

sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object

In [6]:
iris_df.loc[4, 'petal_length']

1.4

In [7]:
iris_df.at[0,'sepal_width']

3.5

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [8]:
iris_df.iloc[5:7]

   sepal_length  sepal_width  petal_length  petal_width species
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [9]:
iris_df.iloc[5:7, :3]

   sepal_length  sepal_width  petal_length
5           5.4          3.9           1.7
6           4.6          3.4           1.4

In [12]:
iris_df.iat[1,2]

1.4

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [28]:
rule2 = iris_df['petal_length'] < 3

In [16]:
rule = iris_df['sepal_width'] > 4
rule

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: sepal_width, Length: 150, dtype: bool

In [18]:
iris_df[rule].head()

    sepal_length  sepal_width  petal_length  petal_width species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa

In [15]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [29]:
iris_df[rule & rule2]

    sepal_length  sepal_width  petal_length  petal_width species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa